/* RESPONSIVE */
/* FOR MOBILE */
@media (max-width: 320px) {
    .overlay_customize {
        position: relative;
        width: 100%;
        height: inherit;
    }

    .container_customize {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        border-radius: 8px;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .overlay_customize {
        position: relative;
        width: 100%;
        height: inherit;
    }

    .container_customize {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        border-radius: 8px;
    }
}