.headerTrans {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
    width: 100%;
    max-height: 100px;
    background-color: rgba(0, 0, 0, 0.8);

}

.btn-save {
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    /* height: 34px; */
    padding: 8px 16px;
    color: #fff;
    background-color: #1090e5;
    margin: 15px 20px;
    /* margin:0 auto; */
    border-radius: 12px;
    font-weight: bold;
    transition: .25s;
    border: 1px solid transparent;
}

.btn-save:hover {
    background-color: transparent;
    color: #1090e5;
    border: 1px solid #1090e5;
}

.btn-botAI {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #1090e5;
    /* margin: 40px 20px; */
    border-radius: 50px;
    transition: .25s;
}

.btn-botAI:hover {
    background-color: #2b80b9;
}