.headerTrans {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    width: 100%;
    max-height: 100px;
    background-color: #2f3640;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 0 12px;
}

.btn-save {
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    /* height: 34px; */
    padding: 8px 16px;
    color: #fff;
    background-color: #3498DB;
    margin: 15px 20px;
    /* margin:0 auto; */
    border-radius: 12px;
    font-weight: bold;
    transition: .25s;
    border: 1px solid transparent;
}

.btn-save:hover {
    background-color: transparent;
    color: #3498DB;
    border: 1px solid #3498DB;
}

.btn-botAI {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #3498DB;
    /* margin: 40px 20px; */
    border-radius: 50px;
    transition: .25s;
}

.btn-botAI:hover {
    background-color: #2b80b9;
}

/* RESPONSIVE */

@media (max-width: 320px) {
    .btn-save {
        padding: 4px 8px;
        border-radius: 6px;
        margin: 15px;
    }

    .btn-botAI svg {
        width: 25px;
        height: 25px;
    }
}

@media (min-width: 321px) and (max-width: 768px) {
    .btn-save {
        padding: 4px 8px;
        border-radius: 6px;
        margin: 15px;
    }

    .btn-botAI svg {
        width: 25px;
        height: 25px;
    }
}