.modalOption {
    display: flex;
    width: auto;
    height: auto;
    border-radius: 16px;
    border: 1px solid #CCCCCC;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

.option {
    /* background-color: antiquewhite; */
    width: 100%;
    /* height: 100%; */
    border-bottom: 1px solid #CCCCCC;
}

.option:hover {
    cursor: pointer;
    background-color: #CCCCCC;
}

.option:last-child {
    border-bottom: none;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

}

.option:first-child {
    border-top: none;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

}

.option-text {
    font-size: 16px;
    /* margin: 0 10px; */
    height: 100%;
    width: 250px;
    padding: 5px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* margin: 0 22px; */
}

.option-text p {
    opacity: 0.6;

}