@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@layer utilities {
  @variants responsive {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  }
}


.whitespace {
  display: inline-block;
  position: relative;
  z-index: 1;
  background: url('https://img.freepik.com/premium-vector/grid-stripe-seamless-pattern_97886-21859.jpg');
  background-size: 200px;
  background-repeat: repeat;
}

.box {
  color: white;
  font-weight: 700;
  cursor: grab;
  user-select: none;
  border-radius: 4px;
  box-sizing: border-box;
  position: absolute;
  transform: translate(var(--left), var(--top));
  transform-origin: bottom left;
}

.resizer {
  position: absolute;
  background-color: black;
}

.resizer-left {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5px;
  height: 100%;
  cursor: col-resize;
}

.resizer-right {
  width: 1.5px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  cursor: col-resize;
}

.resizer-top {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1.5px;
  width: 100%;
  cursor: row-resize;
}

.resizer-bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1.5px;
  width: 100%;
  cursor: row-resize;
}

.round-resizer {
  width: .5rem;
  /* padding-top: 100%; */
  height: .5rem;
  border-radius: 50%;
}

.resizer-topleft {
  cursor: nwse-resize;
  top: -.2rem;
  left: -.2rem;
}

.resizer-topright {
  cursor: nesw-resize;
  right: -.2rem;
  top: -.2rem;
}

.resizer-bottomleft {
  cursor: nesw-resize;
  left: -.2rem;
  bottom: -.2rem;
}

.resizer-bottomright {
  cursor: nwse-resize;
  right: -.2rem;
  bottom: -.2rem;

}

@keyframes popup {
  0% {
    left: -100%;
  }

  100% {
    left: 0;
  }
}

/* SCROLLBAR CUSTOMIZE */

.scrollar-cus::-webkit-scrollbar {
  width: 8px;
}

.scrollar-cus::-webkit-scrollbar-thumb {
  background: transparent;
}